<%@ page language="java" contentType="application/json; charset=UTF-8" pageEncoding="UTF-8"%>
<%@page trimDirectiveWhitespaces="true" %>
<%@ include file="../../../tagLib.jsp"%>

<%--  频道节点 --%>
<cms:node var="node" nodeid="${param.n}"/>
<%-- 获取bannerid --%>
<c:forEach var="nn" items="${node.childNodeNets}">
    <c:if test="${fn:contains(nn.namePath,'banner')}">
        <c:set var="bannerid" value="${nn.node.nodeId}"/>
        <cms:node var="bannerNode" nodeid="${bannerid}"/>
    </c:if>
</c:forEach>
<cms:nodecont var="banners" nodeid="${bannerid}" dataobjectid="1" sortKey="ranking" sortType="desc" pagesize="7"/>
{
<%-- 设置节点的“更多”路由信息，作为板块路由信息的默认值 --%>
<c:if test="${!empty node.property1}">
    <c:set var="nodeRouteMore" value="${node.property1}"/>
</c:if>
<c:set var="bannerType" value="0"/>
"banners":[
<c:forEach var="b" items="${banners}" varStatus='i'>
    <cms:content var="banner" contid="${b.fields.SRC_CONT_ID}"/>
    {
    "name":"${banner.name}",
    "nodeid":"${banner.fields.PRDPACK_ID}",
    "contid":"${banner.contId}",
    "description":"${banner.fields.COMMENTS}",
    <c:if test="${!empty b.fields.JB_TYPE}"><%-- 取  角   标  信   息 --%>
    "label":"${b.fields.JB_TYPE}",
    </c:if>
    <c:if test="${fn:length(b.fields.IMAGES)>0}">
        <c:forEach var="img" items="${b.fields.IMAGES}">
            <c:if test="${fn:contains(img.fileType,'H5_CONTENT')}">
                <c:set var="imgSrc" value="${portalUrl}${img.src}"/>
            </c:if>
        </c:forEach>
    </c:if>
    "imgSrc":"${imgSrc}"<c:if test="${bannerType==0}">,
    "imgType":"0"
</c:if>
    }<c:if test="${!i.last}">,</c:if>
    <c:set var="bannerType" value="${bannerType + 1}"/>
</c:forEach>
],
"bannerType":"${bannerType <= 1 ? 1 : ''}",
"blocks":[
<c:forEach var="nn" items="${node.childNodeNets}" varStatus='i'>
    <c:if test="${nn.node.nodeId!=bannerid}">
        <cms:node var="n" nodeid="${nn.node.nodeId}"/>
        {
        "name":"${n.name}",
        "entities":[
        <cms:nodecont var="nc" nodeid="${n.nodeId}" dataobjectid="1" sortKey="ranking" sortType="desc" pagesize="8"/>
        <c:forEach var="ct" items="${nc}" varStatus='j'>
            <cms:content var="cont" contid="${ct.fields.SRC_CONT_ID}"/>
            {
            <c:set var="imgSrc" value=""/><%-- 取图 --%>
            <c:if test="${fn:length(ct.fields.IMAGES) > 0}"><%-- 优先取oms图 --%>
                <c:forEach var="img" items="${ct.fields.IMAGES}">
                    <c:if test="${fn:contains(img.fileType,'H5_CONTENT')}">
                        <c:set var="imgSrc" value="${portalUrl}${img.src}"/>
                    </c:if>
                </c:forEach>
            </c:if>
            <c:if test="${empty imgSrc}"><%-- oms图为空，则取cms图 --%>
                <c:set var="imgCont" value="${fn:substring(cont.fields.MMS_ID,0,4)}/${fn:substring(cont.fields.MMS_ID,4,7)}/${fn:substring(cont.fields.MMS_ID,7,10)}"/>
                <c:forEach var="pic" items="${cont.fields.DisPlayFileLists}">
                    <c:if test="${fn:contains(pic.dpFileName,'HSJ1080H')}">
                        <c:set var="imgSrc" value="${portalUrl}${contImagePath}/${imgCont}/${pic.dpFileName}"/>
                    </c:if>
                </c:forEach>
                <c:if test="${empty imgSrc}">
                    <c:forEach var="pic" items="${cont.fields.DisPlayFileLists}">
                        <c:if test="${fn:contains(pic.dpFileName,'HSJ720H')}">
                            <c:set var="imgSrc" value="${portalUrl}${contImagePath}/${imgCont}/${pic.dpFileName}"/>
                        </c:if>
                    </c:forEach>
                </c:if>
                <c:if test="${empty imgSrc}">
                    <c:forEach var="pic" items="${cont.fields.DisPlayFileLists}">
                        <c:if test="${fn:contains(pic.dpFileName,'TV_CONTENT')}">
                            <c:set var="imgSrc" value="${portalUrl}${contImagePath}/${imgCont}/${pic.dpFileName}"/>
                        </c:if>
                    </c:forEach>
                </c:if>
            </c:if>
            "name":"${ct.name}",
            "latestEpisode":"${fn:length(fn:split(cont.fields.SubSerial_IDS,','))}",
            "totalEpisode":"${cont.fields.SerialCount}",
            "imgSrc":"${imgSrc}",<c:if test="${cont.fields.IS_BOOK_SELL == 'true'}">
            "isPresell":true,</c:if>
            "description":"${ct.fields.COMMENTS}",<c:if test="${!empty ct.fields.JB_TYPE}">
            "label":"${ct.fields.JB_TYPE}",</c:if><%-- 取角标信息 --%>
            "nodeid":"${cont.fields.PRDPACK_ID}",
            "contid":"${cont.contId}"
            }<c:if test="${!j.last}">,</c:if>
        </c:forEach>
        ]<c:if test="${!empty nodeRouteMore || !empty n.property1}">,
        <%-- 设置板块上的“更多”路由信息 --%>
        <c:set var="more" value="${nodeRouteMore}"/>
        <c:if test="${!empty n.property1}">
            <c:set var="more" value="${n.property1}"/>
        </c:if>
        "routeOfMore":"${more}"
    </c:if><c:if test="${!empty n.property2 && n.property2 == 1}">,
        "blockStyle": "column-list yushou-list"
    </c:if>
        }<c:if test="${!i.last}">,</c:if>
    </c:if>
</c:forEach>
]
}