<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@page trimDirectiveWhitespaces="true" %>
<!--=============幻灯片==========-->
<article class="tab_pic" id="tab_pic">
    <div id="slideBox" class="slideBox" ng-if="!bannerType" mn-scale mn-rate="0.4305">
        <div class="bd">
            <ul>
                <li ng-repeat="banner in banners">
                    <a class="pic sy-picarea" href="#/videoDetails/{{banner.nodeid}}/{{banner.contid}}">
                        <img ng-src="{{banner.imgSrc}}"/>
                        <em ng-if="banner.label" ng-class="{yushou:banner.label=='预售', yugao:banner.label=='预告', shoufa:banner.label=='首映'}"></em>
                    </a>
                </li>
            </ul>
        </div>
        <div class="hd">
            <ul></ul>
        </div>
    </div>
    <div class="zt-cont sy-cont" ng-if="bannerType==1">
        <p ng-repeat="banner in banners|filter:{imgType:0}">
            <a class="sy-picarea" href="#/videoDetails/{{banner.nodeid}}/{{banner.contid}}">
                <img ng-src="{{banner.imgSrc}}">
                <em ng-if="banner.label" ng-class="{yushou:banner.label=='预售', yugao:banner.label=='预告', shoufa:banner.label=='首映'}"></em>
            </a>
        </p>
        <span ng-repeat="banner in banners|filter:{imgType:1}">
            <a class="sy-picarea" href="#/videoDetails/{{banner.nodeid}}/{{banner.contid}}">
                <img ng-src="{{banner.imgSrc}}">
                <em ng-if="banner.label" ng-class="{yushou:banner.label=='预售', yugao:banner.label=='预告', shoufa:banner.label=='首映'}"></em>
            </a>
            <a class="sy-picinfo">{{banner.name}}</a> 
            <label ng-if="!!banner.description">{{banner.description}}</label>
        </span>
    </div>
</article>
<div ng-if="'level1'==channel" class="anouncement">
    <a href="#/report">打造健康环境，举报不良视频！</a>
</div>
<!-- ==================一级内容块===================== -->
<article class="sy-main" ng-repeat="block in blocks">
    <div class="sy-header">
        <h2>{{block.name}}</h2>
        <a ng-if="block.routeOfMore" ng-href="{{block.routeOfMore}}">更多&gt;</a>
    </div>
    <div class="sy-list" ng-class="block.blockStyle">
        <ul class="pic-list">
            <li ng-repeat="entity in block.entities | even:block.blockStyle">
                <a href="#/videoDetails/{{entity.nodeid}}/{{entity.contid}}?isPresell={{!!entity.isPresell}}">
                    <b mn-lazy-background="entity.imgSrc"></b>        <!--style="background-imgs:url({{entity.imgSrc}});"-->
                    <em ng-if="entity.label" ng-class="{yushou:entity.label==1, yugao:entity.label==2, shoufa:entity.label==3}"></em>
                    <span ng-if="!!entity.totalEpisode">{{entity.latestEpisode|episodeView:entity.totalEpisode}}</span>
                </a>
                <a class="pic-tit" href="#/videoDetails/{{entity.nodeid}}/{{entity.contid}}?isPresell={{!!entity.isPresell}}">{{entity.name}}</a>
                <p>{{entity.description}}</p>
            </li>
        </ul>
    </div>
</article>