<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@page trimDirectiveWhitespaces="true" %>
<!-- 快速订购-->
<article class="logininfo">
    <div class="login-tip">
        <h3>欢迎进入移动影院</h3>
        <a href="#/loginByPwd">登录/注册</a>
    </div>
    <form name="form" novalidate>
        <div class="sj-input">
            <input name="mobile" type="tel" ng-model="mobile" ng-pattern="mobileRE" ng-change="mobileErr=false" placeholder="仅支持移动手机用户" class="sj-paynum" required>
            <span ng-show="!mobileErr && form.mobile.$dirty && form.mobile.$invalid" class="input-info">请输入11位移动手机号码</span>
            <span ng-show="mobileErr" class="input-info">手机号码错误</span>
        </div>

        <div class="sj-input">
            <input type="text" name="captcha" ng-model="captcha" ng-pattern="captchaRE" ng-change="captchaErr=false" placeholder="请输入验证码" class="sj-yzmp" required>
            <span class="sj-yzbtn" style="background-color:#22252d; padding-top:0;padding-bottom: 0"><img ng-click="refreshCaptcha()" id="login-captcha-img" ng-src="/ImageCaptchaServlet.servlet?ran={{captchaSrc}}"></span>
            <div style="clear:both"></div>
            <span ng-show="!captchaErr && form.captcha.$dirty && form.captcha.$invalid" class="input-info">请输入4位验证码</span>
            <span ng-show="captchaErr" class="input-info">验证码错误</span>
        </div>

        <div class="sj-input">
            <input name="SMSCode" ng-model="SMSCode" ng-pattern="SMSCodeRE" ng-change="SMSCodeErr=false" type="text" placeholder="6位数字和字母，区分大小写" class="sj-yzmp" required>
            <input type="button" class="sj-yzbtn" value="{{SMSbtnInfo}}" ng-click="getSMSCode()">
            <div style="clear:both"></div>
            <span ng-show="!SMSCodeErr && form.SMSCode.$dirty && form.SMSCode.$invalid" class="input-info">6位数字和字母，区分大小写</span>
            <span ng-show="SMSCodeErr" class="input-info">{{smsErrInfo}}</span>
        </div>
        <!-- 订购扣费 -->
        <div class="order-info" ng-show="isAuthenticated() && !isMonth()">
            <input type="checkbox" ng-model="isAgreedTime">
            <label >按次点播：{{getPrice()}}元/次</label>
            <p>什么是按次点播？按次点播是和视界推出的收费点播产品，每次仅需{{getPrice()}}元，即可畅享与院线同步的观影体验。</p>
        </div>
        <div class="order-info" ng-show="isAuthenticated() && isMonth()">
            <input type="checkbox" ng-model="isAgreedMonth">
            <label>包月：{{getPrice()}}元/月</label>
            <p>什么是全能看包月？全能看包月是和视界推出的包月产品，仅需{{getPrice()}}元/月，即可畅享影视片库所有内容。</p>
        </div>
        <div class="pay-tips">
            <p>*已订购用户不会重复扣费</p>
        </div>
        <!-- button -->
        <div class="global-btn">
            <input type="submit" ng-click="submit()" ng-disabled="form.$invalid || (isMonth()&&!isAgreedMonth) || (!isMonth()&&!isAgreedTime) || sumbitDisabled" class="enter-pay" value="{{confirmInfo}}">
        </div>
    </form>
    <div class="global-btn">
        <input type="button" class="next-pay" ng-click="back()" value="下次购买">
    </div>
</article>