<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<article>
    <!-- 激活成功-->
    <div class="setting-cont" id="activeSuccess">
        <div class="setting-header">
            <a ng-click="back()" class="return-btn"></a>
            <a href="#/" class="index-btn"></a>
            <h2>我的账户</h2>
        </div>
        <article class="logininfo article-top">
            <div class="rechard-success">
                <p>账户{{mobile}}的体检卡已成功激活！</p>
            </div>
            <!-- button -->
            <div class="global-btn enter-btn top-btn">
                <a href="#/myAccount">
                    <input type="button" class="enter-pay" value="完成激活">
                </a>
            </div>
        </article>
    </div>
</article>