<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<article>
    <!-- 设置列表 -->
    <div class="setting-cont">
        <div class="setting-header">
            <a ng-click="back()" class="return-btn"></a>
            <a href="#/" class="index-btn"></a>
            <h2>设置</h2>
        </div>
        <div class="setting-list">
            <a class="setting-select" href="#/about" >关于<em></em></a>
            <a class="setting-select" href="#/feedback">用户反馈<em></em></a>
            <a class="setting-select" href="#/updatePassword">修改账号密码<em></em></a>
            <a class="setting-select" href="#/logout">退出当前账号<em></em></a>
        </div>
    </div>
</article>