<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<article>
    <!-- 修改密码 -->
    <div class="setting-cont">
        <header class="setting-header">
            <a ng-click="back()" class="return-btn"></a>
            <a href="#/level1" class="index-btn"></a>
            <h2>修改密码</h2>
        </header>
        <article class="logininfo article-top">
            <form name="form" novalidate>
                <div class="sj-input">
                    <input name="password" ng-model="password" ng-pattern="pwdLoginRE" ng-change="passwordErr=false" type="password" placeholder="输入当前账户密码" class="sj-paynum" required>
                    <span ng-show="!passwordErr && form.password.$dirty && form.password.$invalid" class="input-info">请输入8到25位字母和数字的组合</span>
                    <span ng-show="passwordErr" class="input-info">密码错误</span>
                </div>
                <div class="sj-input">
                    <input name="newPassword" ng-model="newPassword" ng-pattern="pwdRegisterRE" ng-change="newPasswordErr=false" type="password" placeholder="请输入新密码" class="sj-paynum" required>
                    <span ng-show="newPasswordErr || form.newPassword.$dirty && form.newPassword.$invalid" class="input-info">请输入8到25位字母和数字的组合</span>
                </div>
                <div class="sj-input">
                    <input name="reNewPassword" ng-model="reNewPassword" type="password" placeholder="请再次输入新密码" class="sj-paynum" required>
                    <span ng-show="form.reNewPassword.$dirty && (reNewPassword!=newPassword)" class="input-info">两次输入密码不一致</span>
                </div>

                <div class="sj-input">
                    <input type="text" name="captcha" ng-model="captcha" ng-pattern="captchaRE" ng-change="captchaErr=false" placeholder="请输入验证码" class="sj-yzmp" required>
                    <span class="sj-yzbtn" style="background-color:#22252d; padding-top:0;padding-bottom: 0"><img ng-click="refreshCaptcha()" id="login-captcha-img" ng-src="/ImageCaptchaServlet.servlet?ran={{captchaSrc}}"></span>
                    <div style="clear:both"></div>
                    <span ng-show="!captchaErr && form.captcha.$dirty && form.captcha.$invalid" class="input-info">请输入4位验证码</span>
                    <span ng-show="captchaErr" class="input-info">验证码错误</span>
                </div>
                <div class="sj-input">
                    <input name="SMSCode" ng-model="SMSCode" ng-pattern="SMSCodeRE" ng-change="SMSCodeErr=false" type="text" placeholder="6位数字和字母，区分大小写" class="sj-yzmp" required>
                    <input type="button" class="sj-yzbtn" value="{{SMSbtnInfo}}" ng-click="getSMSCode()">
                    <div style="clear:both"></div>
                    <span ng-show="!SMSCodeErr && form.SMSCode.$dirty && form.SMSCode.$invalid" class="input-info">6位数字和字母，区分大小写</span>
                    <span ng-show="SMSCodeErr" class="input-info">验证码错误</span>
                </div>
                <!-- button -->
                <div class="global-btn enter-btn" style="margin-top:38px;">
                    <input type="submit" class="enter-pay" ng-click="submit()" value="{{info}}" ng-disabled="form.$invalid || (newPassword!=reNewPassword) || submitDisabled">
                </div>
            </form>
            <div class="global-btn">
                <input type="button" class="next-pay" ng-click="back()" value="取消"></div>
        </article>
    </div>
</article>