<%@ page language="java" contentType="application/json; charset=UTF-8" pageEncoding="UTF-8"%>
<%@page trimDirectiveWhitespaces="true" %>
<%@ include file="../../../tagLib.jsp"%>
<cms:favorites var="collection"/>
{
"collection":[
<c:forEach var="entity" items="${collection}" varStatus="i">
    <c:set var="nid" value="${entity.nodeId}"/>
    <c:set var="cid" value="${entity.contentId}"/>
    <cms:content var="cont" contid="${cid}"/>
    <c:if test="${!empty cont.name && (entity.platForm=='0011' || entity.platForm=='0012') && !empty cont.fields.propertyFileLists}">
        <%-- 有些奇葩内容会没有fields.propertyFileLists，如502474739，因此需要判空 --%>
        <c:set var="director" value=""/>
        <c:set var="director" value="${cont.fields.propertyFileLists['导演']}"/>
        <%-- 主演 --%>
        <c:set var="actor" value="${cont.fields.propertyFileLists['主演']}"/>
        <c:if test="${empty actor}">
            <c:set var="actor" value="${cont.fields.propertyFileLists['男主角']}"/>
        </c:if>
        <%-- 取图 --%>
        <c:set var="imgSrc" value=""/><%-- Get imgSrc --%>
        <c:forEach var="pic" items="${cont.fields.displayFileLists}">
            <c:if test="${fn:contains(pic.dpFileName,'HSJ1080V')}">
                <c:set var="imgSrc" value="${contImagePath}${cont.fields.DISPLAYFILELISTS}/${cont.fields.HW_CID}/display/${pic.dpFileName}"/>
            </c:if>
        </c:forEach>
        <c:if test="${empty imgSrc}">
            <c:forEach var="pic" items="${cont.fields.displayFileLists}">
                <c:if test="${fn:contains(pic.dpFileName,'TV_CONTENT')}">
                    <c:set var="imgSrc" value="${contImagePath}${cont.fields.DISPLAYFILELISTS}/${cont.fields.HW_CID}/display/${pic.dpFileName}"/>
                </c:if>
            </c:forEach>
        </c:if>
        <%-- 内容类型 --%>
        <c:set var="type" value="${cont.fields.CONT_SORT}"/>
        <c:if test="${empty type}">
            <c:set var="type" value="${cont.fields.propertyFileLists['内容类型']}"/>
        </c:if>
        <c:if test="${empty type}">
            <c:set var="type" value="${cont.fields.propertyFileLists['内容分类']}"/>
        </c:if>
        <%-- 评分 --%>
        <c:set var="score" value="${cont.fields.propertyFileLists['IMDB评分']}"/>
        <c:if test="${empty score}">
            <c:set var="score" value="${cont.fields.WATCH_POINT}"/>
        </c:if>
        <c:if test="${empty score}">
            <c:set var="score" value="7"/>
        </c:if>

        <c:set var="name" value="${cont.name}"/>
        <cms:node var="node" nodeid="${nid}"/>
        <c:set var="latestEpisode" value=""/>
        <c:set var="totalEpisode" value=""/>
        <%-- 是否为电视剧，若是则注意name和episode取法--%>
        <c:if test="${node.isContentList}">
            <c:set var="name" value="${node.name}"/>
            <cms:nodecont var="conts" nodeid="${nid}"  dataobjectid="2" pagesize="1000" sortType="desc"/>
            <c:set var="latestEpisode" value="${fn:length(conts)}"/>
            <c:set var="totalEpisode" value="${node.property1}"/>
        </c:if>
        <%-- 取访问次数 --%>
        <cms:contvisitadd var="visitCount" contid="${cont.contId}"/>
        <c:if test="${notFirst}">,</c:if>
        {
        "name":"${name}",
        "imgSrc":"${imgSrc}",
        "latestEpisode":"${latestEpisode}",
        "totalEpisode":"${totalEpisode}",
        "director":"${director}",
        "actor":"${actor}",
        "score":"${score}",
        "visitCount":${visitCount},
        "type":"${type}",
        "nodeid":"${nid}",
        "contid":"${cid}"
        }
        <c:set var="notFirst" value="true"/>
    </c:if>
</c:forEach>
]
}