<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@page trimDirectiveWhitespaces="true" %>
<%@ include file="../../../tagLib.jsp"%>
<article>
    <!-- 关于 -->
    <div class="setting-cont">
        <div class="setting-header">
            <a ng-click="back()" class="return-btn"></a>
            <a href="#/" class="index-btn"></a>
            <h2>关于</h2>
        </div>
        <div class="setting-about">
            <h3>关于登录/注册<em>&gt;&gt;</em></h3>
            <h4>所有的手机号码都可以登录和视界吗？</h4>
            <p>目前和视界暂时只对中国移动客户开放，敬请谅解。</p>

            <h3>关于付费/包月<em>&gt;&gt;</em></h3>
            <h4>1.观看节目收付费吗？</h4>
            <p>和视界提供的视频分为免费和收费节目，每个节目详情均有提示是否收费。</p>

            <h4>2.什么是全能看包月？</h4>
            <p>全能看包月是和视界推出的包月产品，仅需20元/月，即可畅享影视片库内容。</p>

            <h4>3.如何订购全能看包月？</h4>
            <p>当你尝试点击节目进行播放时，如果节目还未订购过，会显示包月按钮，点击后，登录的手机接收验证码，在页面输入正确的验证码后即可成功订购全能看包月。</p>

            <h4>4.如何退订包月？</h4>
            <p>登录后点击页首昵称，进入个人中心页，在我的订购页面进行退订。</p>

            <h3>关于播放<em>&gt;&gt;</em></h3>
            <h4>1.提示播放器版本过低或未安装怎么办？</h4>
            <p class="pbo-bottom">关于订购和退订在频道下面免费栏目的节目是免费的，其他栏目的节目为收费节目。</p>
            <p class="pbo-bottom">①首先，确认网络连接是否通畅。</p>
            <p class="pbo-bottom">②其次，刷新页面，播放器区域会出现FLASH官方版本升级和安装的提示，并包含有下载链接的地址，这时请您点击进入下载页面，根据提示下载安装即可。</p>
            <p>
                ③如第二步无法正常安装，可手动下载并安装最新
                版本Adobe Flash Player。</p>

            <h4>2．视频无法观看，画面显示黑屏。</h4>
            <p class="pbo-bottom">①打开浏览器的”工具”->"1nternet选项”。如遇此问题需检查浏览器的Java脚本支持。</p>
            <p class="pbo-bottom">②切换到”安全”选项卡，点击”默认级别”按钮（若您的按钮是灰色不可点击，则您不需要修改这里或者被恶意软件劫持）,IE会自动开启Java脚本。</p>
            <p>③其他因素：网络环境也会有影响，请确认网络环境良好后再次尝试。</p>
        </div>
    </div>
</article>