<%@ page language="java" contentType="application/json; charset=UTF-8" pageEncoding="UTF-8"%>
<%@page trimDirectiveWhitespaces="true" %>
<%@ include file="../../../tagLib.jsp"%>
<%
//设置视频分类和付费类型不同组合 下对应的idPath。 数据结构优于算法
java.util.Map pathToId = new java.util.HashMap();
//默认搜索节点
pathToId.put("all","");
//各频道作为关键字时的idPath
pathToId.put("movie","contFormType:8");
pathToId.put("drama","contFormType:6");
pathToId.put("microMovie","");
pathToId.put("cartoon","");
pathToId.put("free","");
pathToId.put("正片","");
pathToId.put("预告","");
pathToId.put("免费","");
pathToId.put("按次点播","");
pathToId.put("包月","");
pathToId.put("正片免费","");
pathToId.put("正片按次点播","");
pathToId.put("正片包月","");
pathToId.put("预告免费","");
request.setAttribute("pathToId",pathToId);
%>

<%-- 设置关键字和默认q --%>
<c:set var="keyword" value="*:*"/>
<c:set var="idPath" value="${pathToId['all']}"/><%-- TODO:should delete this later--%>
<c:if test="${!empty param.keyword}">
    <c:if test="${!empty pathToId[param.keyword]}">
        <c:set var="idPath" value="${pathToId[param.keyword]}"/>
    </c:if>
    <c:if test="${empty pathToId[param.keyword]}">
        <c:set var="keyword" value="${param.keyword}"/>
    </c:if>
</c:if>
<c:if test="${!empty param.freeVideoType}">
    <c:if test="${param.freeVideoType == '电影'}">
        <c:set var="idPath" value="contFormType:8"/>
    </c:if>
    <c:if test="${param.freeVideoType == '电视剧'}">
        <c:set var="idPath" value="contFormType:6"/>
    </c:if>
</c:if>

<%-- 根据视频分类和付费模式来判断idPath --%>
<c:set var="videoKind" value=""/>
<c:set var="chargeMode" value=""/>
<c:if test="${!empty param.videoKind}">
    <c:set var="videoKind" value="${param.videoKind}"/>
</c:if>
<c:if test="${!empty param.chargeMode}">
    <c:set var="chargeMode" value="${param.chargeMode}"/>
</c:if>
<c:set var="pathKey" value="${videoKind}${chargeMode}"/>
<c:if test="${!empty pathKey}">
    <c:set var="idPath" value="${pathToId[pathKey]}"/>
</c:if>

<%-- 设置排序方式 --%>
<c:set var="sp" value="pubTime"/>
<c:if test="${!empty param.rank}">
    <c:set var="sp" value="${param.rank}"/>
</c:if>

<%-- 设置过滤器 --%>
<c:set var="filterKey" value=""/>
<c:if test="${!empty param.type}">
    <c:set var="filterKey" value="${filterKey}cont_sort:${param.type},"/>
</c:if>
<c:if test="${!empty param.area}">
    <c:set var="filterKey" value="${filterKey}distribut_area:${param.area},"/>
</c:if>
<c:if test="${!empty param.year}">
    <c:set var="filterKey" value="${filterKey}distribut_year:${param.year},"/>
</c:if>
<%-- 根据resultType过滤结果类型 --%>
<c:if test="${!empty param.version}">
    <c:if test="${param.version == 'TV版'}">
        <c:set var="resultType" value="02"/>
    </c:if>
    <c:if test="${param.version == '动画电影'}">
        <c:set var="resultType" value="04"/>
    </c:if>
    <c:set var="filterKey" value="${filterKey}resultType:${resultType}"/>
</c:if>

    <%-- 设置start--%>
    <c:set var="start" value="0"/>
    <c:if test="${!empty param.start}">
        <c:set var="start" value="${param.start}"/>
    </c:if>
    <%-- 如果参数中指定了返回数据的上限 --%>
    <c:set var="pageSize" value="9"/>
    <c:if test="${!empty param.size}">
        <c:set var="pageSize" value="${param.size}"/>
    </c:if>
    <%-- 如果是在搜索页搜索（搜索页不指定参数page，否则难以统计各分类数）TODO:固定100会有这样的问题，若搜"爱",有>=128部电影，怎么办 --%>
    <c:if test="${param.classify=='1'}">
        <c:set var="pageSize" value="500"/>
        <c:set var="dramaCount" value="0"/>
        <c:set var="microMovieCount" value="0"/>
        <c:set var="cartoonCount" value="0"/>
        <c:set var="emptyCount" value="0"/>
    </c:if>
    <%-- 搜 索 --%>
    <cms:search var="search" k="${keyword}" field="program" q="${idPath},${filterKey}" pageSize="${pageSize}" start="${start}"  sortType="desc" version="2"/>
    {
    "entities":[
    <c:forEach var="r" items="${search.searchResult}" varStatus='i'>
        <c:set var="imgSrc" value=""/>
        <c:set var="latestEpisode" value=""/>
        <c:set var="totalEpisode" value=""/>
        <c:set var="cartoonCounted" value="false"/>
        <c:set var="videoKind" value=""/>
        <cms:content var="cont" contid="${r.contentId}"/>
        <c:set var="name" value="${cont.name}"/>
        <c:set var="imgCont" value="${fn:substring(cont.fields.MMS_ID,0,4)}/${fn:substring(cont.fields.MMS_ID,4,7)}/${fn:substring(cont.fields.MMS_ID,7,10)}"/>
        <c:if test="${!empty cont && !empty cont.fields.propertyFileLists}">
            <c:forEach var="pic" items="${cont.fields.DisPlayFileLists}">
                <c:if test="${fn:contains(pic.dpFileName,'HSJ1080V')}">
                    <c:set var="imgSrc" value="${portalUrl}${contImagePath}/${imgCont}/${pic.dpFileName}"/>
                </c:if>
            </c:forEach>
            <c:if test="${empty imgSrc}">
                <c:forEach var="pic" items="${cont.fields.DisPlayFileLists}">
                    <c:if test="${fn:contains(pic.dpFileName,'HSJ720V')}">
                        <c:set var="imgSrc" value="${portalUrl}${contImagePath}/${imgCont}/${pic.dpFileName}"/>
                    </c:if>
                </c:forEach>
            </c:if>
            <c:if test="${empty imgSrc}">
                <c:forEach var="pic" items="${cont.fields.DisPlayFileLists}">
                    <c:if test="${fn:contains(pic.dpFileName,'TV_CONTENT')}">
                        <c:set var="imgSrc" value="${portalUrl}${contImagePath}/${imgCont}/${pic.dpFileName}"/>
                    </c:if>
                </c:forEach>
            </c:if>
            <%-- 取访问次数 --%>
            <cms:contvisitadd var="visitCount" contid="${cont.contId}"/>
            <%-- 取关键字 --%>
            <c:set var="keywords" value="${cont.fields.KEYWORDS}"/>
            <c:if test="${param.classify=='1'}">
                <c:if test="${!empty keywords}">
                    <c:if test="${fn:contains(keywords,'动漫')}">
                        <c:set var="cartoonCount" value="${ cartoonCount + 1}"/>
                        <c:set var="cartoonCounted" value="true"/>
                        <c:set var="videoKind" value="动漫"/>
                    </c:if>
                </c:if>
                <c:if test="${cont.fields.FormType!='8'}">
                    <c:set var="dramaCount" value="${dramaCount+1}"/>
                    <c:set var="videoKind" value="电视剧"/>
                </c:if>
                <c:if test="${fn:contains(keywords,'微电影')}">
                    <c:set var="microMovieCount" value="${microMovieCount+1}"/>
                    <c:set var="videoKind" value="微电影"/>
                </c:if>
            </c:if>
            <%-- 主演 --%>
            <c:set var="actor" value="${cont.fields.propertyFileLists['主演']}"/>
            <c:if test="${empty actor}">
                <c:set var="actor" value="${cont.fields.propertyFileLists['男主角']}"/>
            </c:if>
            <%-- 评分 --%>
            <c:set var="score" value="${cont.fields.propertyFileLists['评分']}"/>
            <c:if test="${empty score}">
                <c:set var="score" value="${cont.fields.WATCH_POINT}"/>
            </c:if>
            <c:if test="${empty score}">
                <c:set var="score" value="7"/>
            </c:if>
            <c:if test="${notFirst}">,</c:if>
            {
            "name":"${name}",
            "director":"${cont.fields.propertyFileLists["导演"]}",
            "actor":"${actor}",
            "area":"${cont.fields.propertyFileLists["国家及地区"]}",
            "year":"${cont.fields.propertyFileLists["播出年代"]}",
            "visitCount":"${visitCount}",
            "imgSrc":"${imgSrc}",
            "score":"${score}",
            "latestEpisode":"${latestEpisode}",
            "totalEpisode":"${totalEpisode}",
            "keywords":"${keywords}",
            "nodeid":"${cont.fields.PRDPACK_ID}",
            "contid":"${cont.contId}",
            "videoKind":"${videoKind}",
            "isAnime":${videoKind == "动漫"}
            }
            <c:set var="notFirst" value="true"/>
        </c:if>
        <c:if test="${empty cont.fields.propertyFileLists}">
            <c:set var="emptyCount" value="${emptyCount+1}"/>
        </c:if>
    </c:forEach>
    ]
    <c:if test="${param.classify=='1'}">,
        "classify":{
        "全部":${empty search.count ? 0 : search.count-emptyCount},
        "电影":${search.count-dramaCount-microMovieCount-cartoonCount-emptyCount},
        "电视剧":${dramaCount},
        "微电影":${microMovieCount},
        "动漫":${cartoonCount}
        }<c:set var="cartoonCounted" value="false"/>
    </c:if>
}

